.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.pro-content {
  .shipping-addresses {
    margin-bottom: 30px;
  }
}
